<%= form_with model: [@doubt, @doubt.comments.build], local: true do |form| %>
  <div class="add-comment">
    <%= form.text_field :body, class:"comment-area", placeholder:'Add Comment'%>
    <%= form.submit 'Comment', class:'outline-button'%>
  </div>
<% end %>