<li>
  <div class="doubt-item">
    <strong><%= doubt.title %></strong><br>
    <%= doubt.body %><br>

    <h2>Comments</h2>
    <%= render doubt.comments %>

    <h2>Add a comment</h2>
    <% @doubt = doubt %>
    <%= render 'comments/form' %>
  </div>
</li>
